
  <table class="table " >
    <thead class="thead-dark">
      <tr>
        <th scope="col" sortable="equipos " >Equipos</th>
        <th scope="col" sortable="cuotas" >Cuotas</th>
      </tr>
      </thead>
    <tr *ngFor="let item of list">
  
      <!-- <img width="100" height="100" src="{{item.imageUrl}}">
      <td>{{item.nombre}}</td> -->
      <!-- <td>{{item}}</td> -->
    <td>  {{datasDepor.data[item].teams}} </td>
    <!-- <td>  {{datasDepor.data[item].sites[item] | json}} </td> -->

    <td>  {{datasDepor.data[item].sites[item].odds | json}} </td>

    </tr>
    <div *ngIf="dataDepor">
    </div>
  </table>
  
  